/* Outer grid */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

/* Grid. */

.grid {
  display: grid;
  grid-template-rows: auto;
  /*gap: 20px;*/
}

.item1, .item2, .item3, .item4, .item5 {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  justify-items: center;
  align-items: center;
  /*gap: 20px;*/
  /*padding: 1em;*/
}

.item11, .item21, .item31, .item41, .item51 {
  justify-self: left;
  padding: 1em;
}

.item12, .item22, .item32, .item42, .item52 {
  border-left:rgb(84, 176, 0) solid 3px;
  border-right:rgb(84, 176, 0) solid 3px;
  text-align: center;
  width: 100%;
}

.green {
  color: rgb(84, 176, 0);
  font-size: 2em;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.red {
  color: rgb(219, 26, 0);
  font-size: 2em;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

/*.item1.is-medium {
  display: grid;
  grid-template-columns: 8% 92%;
  gap: 20px;
}

.item1.is-small {
  display: grid;
  grid-template-columns: 12% 88%;
  gap: 20px;
}*/

/* General. */

.diffColor {
  background-color: white;
}

.item1, .item2 {
  display: grid;
  grid-template-rows: auto;
  /*gap: 5px;
  font-size: 1.2em;*/  
}

img {
  /*display: block;*/
  width: 100%;
  /*background: url(src/assets/img/i1.bmp) no-repeat center center;
  background-size: contain;*/
}

h1 {
  text-align: center;
  font-weight: normal;
}

.wrapper {
  padding: 1em 2em;
  /*background-color: white;*/
  background-color: rgb(195, 195, 195);
  color: black;  
}

h3 {
  margin: 0;
}

ul {
  list-style-image: url(src/assets/img/icon-black.svg);
}