.wrapper {
  padding: 1em 1em 3em;
  /*background-color: white;*/
  /*background-color: rgb(195, 195, 195);*/
  color: black;
}

/* Outer grid */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

/* Grid. */

.grid {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  /*height: 400px;*/
}

.grid.is-small, .grid.is-medium {
  display: grid;
  grid-template-columns: auto 20% 20%; /*auto auto auto;*/
  /*height: 450px;*/
}

.item1 {
  height: 100%;
  /*padding-right: 1em;*/
}

.item2, .item3 {
  height: 100%;
}

.item1 p {
  padding: 0 1em;
}

.header {
  height: 100%;
  border-left:black solid 3px;
  border-right:black solid 3px;
  border-top:black solid 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; /* To be able to bottom position header image. */
}

.header2 {
  height: 100%;
  position: relative; /* To be able to bottom position header image. */
}

.footer {
  height: 100%;
  border-left:black solid 3px;
  border-right:black solid 3px;
  border-bottom:black solid 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header img, .header2 img {
  position: absolute;  
  bottom: 0;
  /*height: 5em;*/
  width: 100%;
}

.item2 {
  border-left:black solid 3px;
  border-right:black solid 3px;
}

.icon-align {
  font-weight: 900;
  display: grid;
  grid-template-columns: 100%;
  align-content: center;
  width: 100%;
  height: 100%;  
  font-size: 2em;
  text-align: center;
}

.green {
  color: rgb(84, 176, 0);
}

.red {
  color: rgb(219, 26, 0);  
}

/* General. */

.diffColor {
  /*background-color: white;*/
  background-color: rgb(195, 195, 195);
}

h1 {
  text-align: center;
  font-weight: normal;
}