.wrapper {
  padding: 1em 2em 3em;
  /*background-color: white;*/
  background-color: rgb(195, 195, 195);
  color: black;  
}

/* Outer grid */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

/* Grid. */

.grid {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  /*gap: 20px;*/
}

.grid.is-small {
  display: grid;
  grid-template-columns: 55% 22.5% 22.5%; /*auto auto auto;*/
  align-items: center;
  /*gap: 20px;*/
}

.item1 {
  height: 100%;
  padding-left: 1em;
}

.text {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  height: 100%;
}

/*.item3 {
  height: 100%;
}*/

.item2, .item3 {
  display: grid;
  grid-template-columns: auto;
  /*align-items: center;*/
  padding: 1em;
  /*gap: 20px;*/
  /*padding: 1em;*/
}

.header {
  height: 20px;
  border-left:black solid 3px;
  border-right:black solid 3px;
  border-top:black solid 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative; /* To be able to bottom position header image. */
}

.header2 {
  height: 20px;
  position: relative; /* To be able to bottom position header image. */
}

.footer {
  height: 20px;
  border-left:black solid 3px;
  border-right:black solid 3px;
  border-bottom:black solid 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header img, .header2 img {
  position: absolute;  
  bottom: 0;
  /*height: 5em;*/
  width: 100%;
}

/*.item11, .item21, .item31, .item41, .item51 {
  justify-self: left;
  padding: 1em;
}*/

.item2 { /*12, .item22, .item32, .item42, .item52 {*/
  /*border-left:rgb(84, 176, 0) solid 3px;
  border-right:rgb(84, 176, 0) solid 3px;*/
  border-left:black solid 3px;
  border-right:black solid 3px;
  /*
  width: 100%;*/
}

.green {
  text-align: center;
  color: rgb(84, 176, 0);
  font-size: 2em;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

.red {
  text-align: center;
  color: rgb(219, 26, 0);
  font-size: 2em;
  font-weight: 900;
  width: 100%;
  height: 100%;
}

/*.item1.is-medium {
  display: grid;
  grid-template-columns: 8% 92%;
  gap: 20px;
}

.item1.is-small {
  display: grid;
  grid-template-columns: 12% 88%;
  gap: 20px;
}*/

/* General. */

.diffColor {
  background-color: white;
}

/*.item1, .item2 {
  display: grid;
  grid-template-rows: auto;*/
  /*gap: 5px;
  font-size: 1.2em;*/  
/*}*/

h1 {
  text-align: center;
  font-weight: normal;
}

h3 {
  margin: 0;
}

ul {
  list-style-image: url(src/assets/img/icon-black.svg);
}