<div class="wrapper"> 

  <div class="outer-grid">

  <ng-container *ngTemplateOutlet="headline"></ng-container>

  <br *ngIf="isBig"/>
  <br *ngIf="isBig"/>
  <br/>
  <br/>
  <br *ngIf="!isSmall"/>

  <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">    
    
    <!-- Header row. -->
    <div></div>
    <div class="header">
      <p><ng-container *ngTemplateOutlet="image"></ng-container></p>
    </div>
    <div class="header2">
      <p><ng-container *ngTemplateOutlet="image2"></ng-container></p>
    </div>

    <!-- Row 1. -->
    <div class="item1 diffColor">
      <p>
        <strong>Suveren ladekapasitet</strong>
        <br/>Kvadrupple porter
      </p>      
    </div>
    <div class="item2 diffColor">
      <ng-container *ngTemplateOutlet="green"></ng-container>      
    </div>
    <div class="item3 diffColor">
      <ng-container *ngTemplateOutlet="red"></ng-container>
    </div>

    <!-- Row 2. -->
    <div class="item1"> 
      <p>
        <strong>Fornøydhetsgaranti</strong><br/>
        30 dagers returrett
      </p>
    </div>
    <div class="item2">
      <ng-container *ngTemplateOutlet="green"></ng-container>
    </div>
    <div class="item3">
      <ng-container *ngTemplateOutlet="red"></ng-container>
    </div>

    <!-- Row 3. -->
    <div class="item1 diffColor">
      <p>
        <strong>Spar plass</strong><br/>
        Trenger 75% færre stikkontakter
      </p>
    </div>
    <div class="item2 diffColor">
      <ng-container *ngTemplateOutlet="green"></ng-container>
    </div>
    <div class="item3 diffColor">
      <ng-container *ngTemplateOutlet="red"></ng-container>
    </div>

    <!-- Row 4. -->
    <div class="item1"> 
      <p>
        <strong>Vent aldri på lading</strong><br/>
        Fire ladeuttak
      </p>
    </div>
    <div class="item2">
      <ng-container *ngTemplateOutlet="green"></ng-container>
    </div>
    <div class="item3">
      <ng-container *ngTemplateOutlet="red"></ng-container>
    </div>

    <!-- Row 5. -->
    <div class="item1 diffColor">
      <p>
        <strong>Rimelig</strong><br/>
        Pris
      </p>
    </div>
    <div class="item2 diffColor">
      <ng-container *ngTemplateOutlet="green"></ng-container>
    </div>
    <div class="item3 diffColor">
      <ng-container *ngTemplateOutlet="green"></ng-container>
    </div>

    <!-- Footer row. -->
    <div></div>
    <div class="footer"><p></p></div>
    <div></div>

  </div>

</div>


<!-- Templates. -->
<ng-template #green>
  <mat-icon class="icon-align green">check</mat-icon>
</ng-template>

<ng-template #red>
  <mat-icon class="icon-align red">close</mat-icon>
</ng-template>

<ng-template #headline>
  <h1>Hvorfor velge <strong>Ladalt</strong>?</h1>
</ng-template>

<ng-template #image>
  <!--<img src="./assets/img/p3-1-logo.png" />-->
  <img src="./assets/img/why-choose1.png" />
</ng-template>

<ng-template #image2>
  <img src="./assets/img/why-choose2.png" />
</ng-template>