<app-m2-top-banner></app-m2-top-banner>
<app-m3-three-points-banner></app-m3-three-points-banner>
<app-m4-three-horizontal-bar></app-m4-three-horizontal-bar>
<app-m5-one-image-with-desc-left-and-bottom></app-m5-one-image-with-desc-left-and-bottom>
<app-m6-sticky-bar></app-m6-sticky-bar>
<app-m7-one-image-with-desc-right-and-top></app-m7-one-image-with-desc-right-and-top>
<app-m8-tripple-images-alternating></app-m8-tripple-images-alternating>
<app-m9-draft></app-m9-draft>
<app-m10-draft></app-m10-draft>
<app-m11-faq></app-m11-faq>
<app-m12-why-choose></app-m12-why-choose>
<app-m13-whats-inside></app-m13-whats-inside>