.content {
  margin-top: 80px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.article-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.article-section h2 {
  color: #333;
}

.article-section p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 15px;
}

.wrapper {
  padding: 1em 2em 3em;
  background-color: white;
  /*background-color: rgb(195, 195, 195);*/
  color: black;
}

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;  
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

a {
  color: black;
}

img {
  display: block;
  width: 100%;
  /*background: url(src/assets/img/i1.bmp) no-repeat center center;
  background-size: contain;*/
}