* {
  background-color: var(--background-color);
  color: white;
}

.order-now {
  background-color: rgb(14, 209, 61);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.track, .contact {
  margin-right: 30px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/* Grid. */

.grid.is-medium {
  text-align: center;
  height: 50px;
}

.grid.is-small {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  justify-items: center;
  align-items: flex-start;
  height: 135px;  
}

.grid.is-small a {
  margin: 0;
}