<div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
  
  <a class="track" [ngClass]="{'is-medium': isMedium}" routerLink="/sporing" routerLinkActive="active" ariaCurrentWhenActive="page">
    {{ text[0] }}
  </a>

  <a class="contact" [ngClass]="{'is-medium': isMedium}" routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">
    {{ text[1] }}
  </a>
  
  <a class="order-now" [ngClass]="{'is-medium': isMedium}" routerLink="/bestill" routerLinkActive="active" ariaCurrentWhenActive="page">
    {{ text[2] }}
  </a>

</div>