.wrapper {
  padding: 1em 2em 3em;
  background-color: white;
  /*background-color: rgb(195, 195, 195);*/
  color: black;
}

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;  
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

.grid {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 20px;
}

hr {
  width: 100%;
}

.grid.is-medium, .grid.is-small {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto;
  gap: 20px;
}

button {
  background-color: orange;
  padding: 10px 25px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  border: 0;
}

input {
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

table, th, td
{
  border: 1px solid black;
  /*border-collapse: collapse;*/ /*Remove double border.*/
}

/*img {
  display: block;
  width: fit-content;
  height: 200px;
}*/

.test {
  display: grid;
  grid-auto-rows: auto;
  height: 250px;
  background: url(/assets/img/shutterstock/ss20.jpg) no-repeat center center;
}