<div class="wrapper">

  <ng-container *ngTemplateOutlet="headline"></ng-container>

  <div class="outer-grid">

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <div class="item1" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
        <div *ngIf="isMedium || isSmall">
          <ng-container *ngTemplateOutlet="image1"></ng-container>
        </div>
        <div>
          <h3>400% økt effektivitet</h3>
          <p>Kryr huset ditt av mange forskjellige elektroniske enheter som hele tiden trenger lading? Det kan være behov for å lade samtidig, men du vil ofte ikke kunne klare dette med kun 1 port!</p>
          <p>Ladalt klarer å lade fire enheter på en gang uten behov for mer enn en stikkontakt. Ikke fyll opp bord, benker eller gulv med stygge grenuttak.</p>
        </div>
        <div *ngIf="isBig">
          <ng-container *ngTemplateOutlet="image1"></ng-container>
        </div>
      </div>

      <div class="item2" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
        <div>
          <ng-container *ngTemplateOutlet="image2"></ng-container>
        </div>
        <div>
          <h3>Plassbesparende</h3>
          <p>Hvis du er lei av ledningekaos som attpåtil er ekspert i å samle hybelkaniner, har du nå sjansen til å bli kvitt det en gang for alle!</p>
          <p>Med fire porter og behov for kun en stikkontakt er Ladalt med stor sannsynlighet den mest plassbesparende og effektive laderen som noengang er laget.</p>
        </div>
      </div>

      <div class="item3" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
        <div *ngIf="isMedium || isSmall">
          <ng-container *ngTemplateOutlet="image3"></ng-container>
        </div>
        <div>
          <h3>Spar penger</h3>
          <p>Har du lagt merke til at det ofte ikke følger med lader når du kjøper nye duppedingser som trenger lading? Sørg for nok ladekapasitet så trenger du ikke uroe deg!</p>
          <p>Ikke kjøp flere ladere enn du trenger – med Ladalt kan du sørge for optimal lading og aldri mangle strøm igjen.</p>
        </div>
        <div *ngIf="isBig">
          <ng-container *ngTemplateOutlet="image3"></ng-container>
        </div>
      </div>
    
    </div>

  </div>

</div>

<!-- Image. -->
<ng-template #image1>
  <!--<img src="./assets/img/mockup/m8-1.png" />-->
  <img src="./assets/img/shutterstock/Picture35.png" />
</ng-template>

<ng-template #image2>
  <!--<img src="./assets/img/mockup/m8-2.png" />-->
  <img src="./assets/img/shutterstock/Picture36.png" />
</ng-template>

<ng-template #image3>
  <!--<img src="./assets/img/mockup/m8-3.png" />-->
  <img src="./assets/img/shutterstock/Picture37.png" />
</ng-template>

<ng-template #headline>
  <h1><strong>Unngå å mangle lading</strong> på grunn av lader med for liten kapasitet</h1>
</ng-template>