.order-now {
  background-color: rgb(14, 209, 61);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.track, .contact {
  margin-right: 30px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Small screens. */

.grid.is-small {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  justify-items: center;
}

.grid.is-small a {
  margin: 0;
}

.test {
  align-self: center;
  justify-self: right;
}

.test.is-medium {
  display: block;
}