/* Outer grid */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

/* Grid. */

.grid {
  display: grid;
  grid-template-columns: 5% 95%;
  gap: 20px;
}

.grid.is-medium {
  display: grid;
  grid-template-columns: 8% 92%;
  gap: 20px;
}

.grid.is-small {
  display: grid;
  grid-template-columns: 12% 88%;
  gap: 20px;
}

/* General. */

.item1, .item2 {
  display: grid;
  grid-template-rows: auto;
  /*gap: 5px;
  font-size: 1.2em;*/  
}

img {
  /*display: block;*/
  width: 100%;
  /*background: url(src/assets/img/i1.bmp) no-repeat center center;
  background-size: contain;*/
}

h1 {
  text-align: center;
  font-weight: normal;
}

.wrapper {
  padding: 1em 2em;
  background-color: white;
  /*background-color: rgb(195, 195, 195);*/
  color: black;  
}

h3 {
  margin: 0;
}

ul {
  list-style-image: url(src/assets/img/icon-black.svg);
}