<div class="wrapper sticky">

  <div class="outer-grid">

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <div class="item1" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
        <ng-container *ngTemplateOutlet="logo"></ng-container>
      </div>

      <div class="item2" *ngIf="isBig">
        <mat-icon>star star star star star_half</mat-icon>
      </div>

      <div class="item3" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">        
        <!--<a class="order-now2" routerLink="/bestill" routerLinkActive="active" ariaCurrentWhenActive="page">FÅ -{{ discountPercent}}% I RABATT</a>-->
        <a class="order-now2" (click)="doTracking()" href="https://buy.stripe.com/{{stripeLink}}">FÅ -{{ discountPercent}}% I RABATT</a>
      </div>

    </div>

  </div>

</div>

<!-- Logo. -->
<ng-template #logo>
  <img src="./assets/img/logo-white.svg" />
</ng-template>