<div class="wrapper">

  <div class="outer-grid">

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <!-- Show this only if not big screen. -->
      <div *ngIf="!isMedium && !isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image"></ng-container>
      </div>

      <div class="item2">

        <h1>Hvorfor <strong>avkalke</strong> kaffemaskinen din?</h1>

        <p>Selv om vannet i Norge primært er bløtt og har lavt kalkinnhold sammenlignet med mange andre land, er det fortsatt viktig å avkalke
           kaffemaskinen din regelmessig.</p>
           
        <p>Over tid kan selv små mengder kalk og mineraler bygge seg opp i maskinens rør og varmeelementer.</p>
        
        <p>Dette kan føre til redusert ytelse, dårligere kaffesmak og i verste fall skade på maskinen.</p>

        <!--<a class="order-now2" [ngClass]="{'is-medium': isMedium}" routerLink="/hvorfor-avkalke-kaffemaskinen-din" routerLinkActive="active" ariaCurrentWhenActive="page">Mer</a>-->
        
        <div class="button-container">
        <a class="order-now2" href="/hvorfor-avkalke-kaffemaskinen-din">Mer</a>
        <a class="order-now3" href="/analyse">Få rapport</a>
        </div>
      
      </div>      

      <!-- Show this only if big screen. -->
      <div *ngIf="isMedium || isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image2"></ng-container>
      </div>
    
    </div>

  </div>

</div>

<!-- Image. -->
<ng-template #image>
  <!--<img src="./assets/img/p2.png" />-->
  <!--<img src="./assets/img/mockup/m5-1.png" />-->
  <img src="./assets/image.png" />
</ng-template>

<ng-template #image2>
  <!--<img src="./assets/img/p2.png" />-->
  <!--<img src="./assets/img/mockup/m5-1.png" />-->
  <!--<img src="./assets/img/m5-four-persons-happy-with-full-battery-ladalt-top.png" />-->
  <img src="./assets/image.png" />
</ng-template>