<div class="wrapper">

  <div class="outer-grid">

    <h1>Retur og reklamasjon</h1>

    <h2>Kundetjeneste</h2>

    <p>Åpningstider:</p>
    <ul>
      <li>Mandag - fredag: 08:00 - 16:00</li>
      <li>Lørdag - søndag: Stengt</li>
    </ul>

    <h2>Returrett</h2>

    <p>Vi forstår at ting noen ganger skjer og at du må returnere ordren din. Derfor har vi 30 dagers returrett.</p>

    <h3>30 dagers fornøydhetsgaranti</h3>

    <p>Du kan returnere dine produkter fra oss innen 30 dager fra du har mottatt ordren. Hvis du ønsker å returnere etter dag 14 (dvs fra dag 15 til 30) fra du mottok ordren kan vi belaste returgebyrer (vennligst se "Returpriser" under for mer informasjon).</p>

    <p>Slik fungerer retur hos oss - innen 30 dager fra du mottar produktet kjøpt hos oss, kan du returnere, bytte ut eller få kreditter for fremtidige kjøp, hvis:</p>

    <ol type="a">

    <li>Du har mottatt et skadet eller ødelagt produkt;</li>

    <li>Du har fått et produkt som ikke virker eller på annen måte er dårlig;</li>

    <li>Du har fått feil produkt;</li>

    <li>Du har ombestemt deg og vil returnere et ubrukt og uåpnet produkt.</li>

    </ol>

    <p>Vi tilbyr bare denne 30 dagers returretten for produkter kjøpt på denne nettsiden.</p>

    <p><u>Dag 1-14 (Full refusjon uten returgebyrer):</u></p>
    <ul>
      <li>Start: Dag 1, samme dag du mottar forsendelsen.</li>
      <li>Slutt: Dag 14, fjorten dager etter at du mottok forsendelsen.</li>
    </ul>
    
    <p><u>Dag 15-30 (Utvidet returrett med returgebyrer):</u></p>
    <ul>
      <li>Start: Dag 15, femten dager etter at du mottok forsendelsen.</li>
      <li>Slutt: Dag 30, tretti dager etter at du mottok forsendelsen.</li>
    </ul>    

    <p>Vennligst merk at fraktkostnadene ikke refunderes dersom produktet returneres mer enn 14 dager etter levering.</p>

    <h3>Returpriser</h3>

    <p>Hvis du informerer oss om at du ønsker å returnere dine kjøpte produkter innen 14 dager etter mottak av det kjøpet, skal ingen tilleggsgebyrer påløpe, men du MÅ dekke fraktkostnadene. Når vi mottar det kjøpte produktet ditt, vil vi gi full refusjon.</p>

    <h4>Hva du må gjøre når du returnerer et produkt</h4>

    <ol>

    <li>Kontakt vårt <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjeneste</a> innen 30 dager etter mottak av dine bestilte produkter. Vennligst oppgi fullt navn, e-post og ordrenummer til kundestøtten, og beskriv kort årsaken til hvorfor du ønsker å returnere produktet.</li>

    <li>Kundetjenesten vår vil svare på forespørselen din innen 3 virkedager, og hvis returforespørselen oppfyller vilkårene for bruk, vil vi gi deg et returautorisasjonsnummer ("RMA") og returadresse.</li>

    <li>Pakk produktet trygt og sikkert, legg ved det medfølgende RMA-skjemaet på et synlig sted på pakken og send oss returproduktene til returadressen du har fått av vår kundetjeneste. Vær oppmerksom på at vi kun vil kunne akseptere returnerte produkter hvis de har RMA-nummeret vedlagt og sendes til vår angitte returadresse.<br/>Udefekte varer må returneres ubrukt, i produsentens tilstand, i original og uskadet emballasje. For defekte varer, vennligst kontakt kundestøtte før du gjennomfører returen.</li>
    
    <li>Send oss sporingsnummeret til den returnerte pakken og din unike returlink. Vær oppmerksom på at kostnaden for returfrakt ikke vil bli refundert eller kompensert av oss. Returer uten sporingsnummer kan bli avvist av vårt lager. Sørg for å bruke rekommandert post eller annen sporbar sending og ikke glem å gi oss sporingsnummeret.</li>

    <li>Når vi mottar de returnerte produktene og har inspisert dem, vil vi utstede refusjonen innen 14 dager. Vær oppmerksom på at dine kostnader for returfrakten ikke vil bli kompensert av oss. Når en refusjon er utstedt tar det normalt opptil 3-5 virkedager før refusjonen vises på kontoutskriftene dine. Tilbakebetalingen vil bli sendt tilbake til deg på den opprinnelige betalingskilden som du brukte til å betale for bestillingen.</li>

    </ol>

    <p>Se våre <a routerLink="/brukervilkår" routerLinkActive="active" ariaCurrentWhenActive="page">brukervilkår</a> for bruk og mer informasjon om våre retningslinjer for retur og refusjon.</p>    

  </div>

</div>