<div class="wrapper">

  <div class="outer-grid">

    <h1>Retur og reklamasjon</h1>

    <h2>Kundetjeneste</h2>

    <p>Åpningstider: Mandag - fredag: 08:00 - 16:00, lørdag - søndag: Stengt</p>

    <h2>Returrett</h2>

    <p>Vi forstår at ting noen ganger skjer og at du må returnere ordren din. Derfor har vi 30 dagers returrett.</p>

    <h3>30 dagers fornøydhetsgaranti</h3>

    <p>Du kan returnere dine produkter fra oss innen 30 dager fra du har mottatt ordren. Hvis du ønsker å returnere etter dag 14 (dvs fra dag 15 til 30) fra du mottok ordren kan vi belaste returgebyrer (vennligst se Returgebyrer-delen under for mer informasjon).</p>

    <p>Slik fungerer retur hos oss - innen 30 dager fra du mottar produktet kjøpt hos oss, kan du returnere, bytte ut eller få kreditter for fremtidige kjøp, hvis:</p>

    <p>(a) Du har mottatt en skadet eller ødelagt produkt;</p>

    <p>(b) Du har fått et produkt som ikke virker eller på annen måte er dårlig;</p>

    <p>(c) Du har fått feil produkt;</p>

    <p>(d) Du har ombestemt deg og vil returnere et ubrukt og uåpnet produkt.</p>

    <p>Vi tilbyr bare denne 30 dagers returretten for produkter kjøpt på denne nettsiden.</p>

    <p>FIGUR INN HER!</p>

    <p>Vennligst merk at fraktkostnadene ikke kan refunderes dersom produktet returneres mer enn 14 dager etter levering.</p>

  </div>

</div>