* {
  background-color: black;
  color: white;
}

a:hover, mat-icon {
  cursor: pointer;
}

.order-now {
  background-color: rgb(14, 209, 61);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.track, .contact {
  margin-right: 30px;
}

/* Grid. */

.grid {
  height: 60px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 0 5%;
}

.grid.is-medium, .grid.is-small {
  height: 60px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

/* Item2. */

.item2.is-medium, .item2.is-small {
  justify-self: center;
}

/* Item3. */

.item3 {
  justify-self: right;
}