<div class="wrapper"> 

  <div class="outer-grid">

    <h1>Ladalt lader <strong>raskest 7 av 8 ganger</strong></h1>

    <p>Vår ingeniør har testet hvor lang tid Ladalt bruker på å lade sammenlignet med andre ladere med kun 1 port. Hele 7 av 8 ganger lader Ladalt raskere. Til og med når Ladalt ikke er raskest er den heller ikke dårligst, men akkurat like god - Ladalt er altså alltid minst like rask eller bedre! Resultatene snakker for seg selv.</p>

    <div class="grid2" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <ng-container *ngTemplateOutlet="fiveW"></ng-container>
      <ng-container *ngTemplateOutlet="twentyW"></ng-container>
    </div>

  </div>

</div>

<!-- Templates. -->
<ng-template #fiveW>
  <div class="grid left" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">    
    
    <div style="position: relative;">
      <img class="img1" src="./assets/img/m14-1.png" />
    </div>
    <div class="icon-align"><p><strong>Ladalt</strong><br/><span style="font-size: 0.6em; font-style: italic;">mot 1 port á</span><br/>5W</p></div>
    <div style="position: relative;">
      <img class="img2" src="./assets/img/m14-2.png" />
    </div>

    <!-- Header row. -->
    <div>
    </div>
    <div class="header"><p></p></div>
    <div>
    </div>

    <!-- Row 1. -->
    <div class="item1 icon-align" style="border-top:black solid 3px; border-left:black solid 3px;">
      <p class="green"><span class="bigNo">1</span><br/><span class="smallText">+33% raskere</span></p>
    </div>
    <div class="item2 icon-align">
      <p>1 enhet</p>
    </div>
    <div class="item3 icon-align" style="border-top:black solid 3px; border-right:black solid 3px;">
      <p class="red"><span class="bigNo">0</span><br/><span class="smallText">-25% tregere</span></p>
    </div>

    <!-- Row 2. -->
    <div class="item1 icon-align" style="border-left:black solid 3px;">
      <p class="green"><span class="bigNo">2</span><br/><span class="smallText">+126% raskere</span></p>
    </div>
    <div class="item2 icon-align">
      <p>2 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px;">
      <p class="red"><span class="bigNo">0</span><br/><span class="smallText">-56% tregere</span></p>
    </div>

    <!-- Row 3. -->
    <div class="item1 icon-align" style="border-left:black solid 3px;">
      <p class="green"><span class="bigNo">3</span><br/><span class="smallText">+127% raskere</span></p>
    </div>
    <div class="item2 icon-align">
      <p>3 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px;">
      <p class="red"><span class="bigNo">0</span><br/><span class="smallText">-56% tregere</span></p>
    </div>

    <!-- Row 4. -->
    <div class="item1 icon-align" style="border-left:black solid 3px; border-bottom:black solid 3px;">
      <p class="green"><span class="bigNo">4</span><br/><span class="smallText">+106% raskere</span></p>
    </div>
    <div class="item2 icon-align" style="border-bottom:black solid 3px;">
      <p>4 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px; border-bottom:black solid 3px;">
      <p class="red"><span class="bigNo">0</span><br/><span class="smallText">-51% tregere</span></p>
    </div>

    <!-- Footer row. -->
    <div></div>
    <div class="footer"><p></p></div>
    <div></div>

  </div>
</ng-template>

<ng-template #twentyW>
  <div class="grid right" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">    
    
    <div style="position: relative;">
      <img class="img1" src="./assets/img/m14-1.png" />
    </div>
    <div class="icon-align"><p><strong>Ladalt</strong><br/><span style="font-size: 0.6em; font-style: italic;">mot 1 port á</span><br/>20W</p></div>
    <div style="position: relative;">
      <img class="img3" src="./assets/img/m14-3.png" />
    </div>

    <!-- Header row. -->
    <div>
    </div>
    <div class="header"><p></p></div>
    <div>
    </div>

    <!-- Row 1. -->
    <div class="item1 icon-align" style="border-top:black solid 3px; border-left:black solid 3px;">
      <p class="green"><span class="bigNo">1</span><br/><span class="smallText">Like rask</span></p>
    </div>
    <div class="item2 icon-align">
      <p>1 enhet</p>
    </div>
    <div class="item3 icon-align" style="border-top:black solid 3px; border-right:black solid 3px;">
      <p class="green"><span class="bigNo">1</span><br/><span class="smallText">Like rask</span></p>
    </div>

    <!-- Row 2. -->
    <div class="item1 icon-align" style="border-left:black solid 3px;">
      <p class="green"><span class="bigNo">2</span><br/><span class="smallText">+96% raskere</span></p>
    </div>
    <div class="item2 icon-align">
      <p>2 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px;">
      <p class="red"><span class="bigNo">1</span><br/><span class="smallText">-49% tregere</span></p>
    </div>

    <!-- Row 3. -->
    <div class="item1 icon-align" style="border-left:black solid 3px;">
      <p class="green"><span class="bigNo">3</span><br/><span class="smallText">+52% raskere</span></p>
    </div>
    <div class="item2 icon-align">
      <p>3 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px;">
      <p class="red"><span class="bigNo">1</span><br/><span class="smallText">-34% tregere</span></p>
    </div>

    <!-- Row 4. -->
    <div class="item1 icon-align" style="border-left:black solid 3px; border-bottom:black solid 3px;">
      <p class="green"><span class="bigNo">4</span><br/><span class="smallText">+20% raskere</span></p>
    </div>
    <div class="item2 icon-align" style="border-bottom:black solid 3px;">
      <p>4 enheter</p>
    </div>
    <div class="item3 icon-align" style="border-right:black solid 3px; border-bottom:black solid 3px;">
      <p class="red"><span class="bigNo">1</span><br/><span class="smallText">-16% tregere</span></p>
    </div>

    <!-- Footer row. -->
    <div></div>
    <div class="footer"><p></p></div>
    <div></div>

  </div>
</ng-template>
