<div class="wrapper">

  <div class="outer-grid">

    <div *ngIf="isMedium || isSmall" class="test">
      <ng-container *ngTemplateOutlet="headline"></ng-container>
      <ng-container *ngTemplateOutlet="image2"></ng-container>
    </div>

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <!-- Show this only if not big screen. -->
      <!--<div *ngIf="!isMedium && !isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image"></ng-container>
      </div>-->

      <div class="item2">

        <div *ngIf="isBig"><ng-container *ngTemplateOutlet="headline"></ng-container></div>
        
        <!--<div *ngIf="isMedium || isSmall">
          <ng-container *ngTemplateOutlet="image"></ng-container>
        </div>-->

        <h3>Smartchip</h3>
        <p>Våre ingeniører har levert kanskje den sikreste laderen verden har sett. Med sin innebygde smartchip beskytter den mot skade under lading. Med multiple vern mot under – og overspenning, overoppheting og kortslutning er vi trygge på at sikkerheten ivaretas maksimalt.</p>

        <h3>Premium kvalitet</h3>
        <p>Vi har designet en lader som kombinerer eleganse og sikkerhet. Alle materialene er nøye utvalgt og kun de aller mest holdbare komponentene er benyttet. Lagd av polykarbonat for ekstrem slitestyrke og akrylnitril-butadien-styrene for optimal brannsikkerhet.</p>

        <h3>Perfekt å ta med på reise</h3>
        <p>Alle ladere fra Ladalt er lagd for det mobile liv. De er enkle å ta med seg og tar liten plass i sekken eller håndvesken.</p>
      
      </div>      

      <!-- Show this only if big screen. -->
      <!--<div *ngIf="isMedium || isSmall" class="item1">-->
      <div *ngIf="isBig" class="item1">
        <ng-container *ngTemplateOutlet="image1"></ng-container>
      </div>
    
    </div>

  </div>

</div>

<!-- Image. -->
<ng-template #image1>
  <!--<img src="./assets/img/p3-1-logo.png" />-->
  <!--<img src="./assets/img/mockup/m7-1.png" />-->  
  <!--<img src="./assets/img/shutterstock/ss2.jpg" />
  <img src="./assets/img/shutterstock/ss10.jpg" />-->
  <img src="./assets/img/shutterstock/Picture29.png" />
</ng-template>

<ng-template #image2>
  <!--<img src="./assets/img/p3-2-logo.png" />-->
  <!--<img src="./assets/img/mockup/m7-1.png" />-->
  <!--<img src="./assets/img/shutterstock/ss2.jpg" />
  <img src="./assets/img/shutterstock/ss10.jpg" />-->
  <img src="./assets/img/shutterstock/Picture29-2.png" />
</ng-template>

<ng-template #headline>
  <h1>Trygg og stabil <strong>lading overalt</strong> er avgjørende for enhver husholdning</h1>
</ng-template>