<div class="wrapper">

  <div class="outer-grid">

    <div *ngIf="isMedium || isSmall" class="test">
      <ng-container *ngTemplateOutlet="headline"></ng-container>
      <ng-container *ngTemplateOutlet="image2"></ng-container>
    </div>

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <!-- Show this only if not big screen. -->
      <!--<div *ngIf="!isMedium && !isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image"></ng-container>
      </div>-->

      <div class="item2">

        <div *ngIf="isBig"><ng-container *ngTemplateOutlet="headline"></ng-container></div>
        
        <!--<div *ngIf="isMedium || isSmall">
          <ng-container *ngTemplateOutlet="image"></ng-container>
        </div>-->

        <p>Kalkavleiringer kan slite på kaffemaskinens interne deler over tid.</p>
        
        <p>Dette inkluderer varmeelementer og pumper som må jobbe hardere når de er tilstoppet.</p>
        
        <p>Ved å avkalke regelmessig reduserer du risikoen for kostbare reparasjoner eller behovet for å erstatte maskinen tidligere enn nødvendig.</p>
        
        <p>Det er en enkel investering i maskinens fremtid!</p>      
                
        <div class="button-container">
          <a class="order-now2" href="/forlenge-levetiden-til-kaffemaskinen">Mer</a>
          <a class="order-now3" href="/analyse">Få rapport</a>
        </div>

      </div>      

      <!-- Show this only if big screen. -->
      <!--<div *ngIf="isMedium || isSmall" class="item1">-->
      <div *ngIf="isBig" class="item1">
        <ng-container *ngTemplateOutlet="image1"></ng-container>
      </div>
    
    </div>

  </div>

</div>

<!-- Image. -->
<ng-template #image1>
  <!--<img src="./assets/img/p3-1-logo.png" />-->
  <!--<img src="./assets/img/mockup/m7-1.png" />-->  
  <!--<img src="./assets/img/shutterstock/ss2.jpg" />
  <img src="./assets/img/shutterstock/ss10.jpg" />-->
  <img src="./assets/image.png" />
</ng-template>

<ng-template #image2>
  <!--<img src="./assets/img/p3-2-logo.png" />-->
  <!--<img src="./assets/img/mockup/m7-1.png" />-->
  <!--<img src="./assets/img/shutterstock/ss2.jpg" />
  <img src="./assets/img/shutterstock/ss10.jpg" />-->
  <img src="./assets/image.png" />
</ng-template>

<ng-template #headline>
  <h1>Forlenge <strong>levetiden</strong> til kaffemaskinen</h1>
</ng-template>