<div class="wrapper">

  <div class="outer-grid">

    <div class="logo" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <ng-container *ngTemplateOutlet="logo"></ng-container>
    </div>

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <div class="item1">
        <h4>INFO</h4>
        <p><a routerLink="/brukervilkår" routerLinkActive="active" ariaCurrentWhenActive="page">Brukervilkår</a></p>
        <p><a routerLink="/personvern" routerLinkActive="active" ariaCurrentWhenActive="page">Personvern</a></p>
        <p><a routerLink="/leveringsvilkår" routerLinkActive="active" ariaCurrentWhenActive="page">Leveringsvilkår</a></p>
      </div>
      <div class="item2">
        <h4>BESTILLING</h4>
        <p><a routerLink="/sporing" routerLinkActive="active" ariaCurrentWhenActive="page">Spor bestilling</a></p>
        <p><a routerLink="/retur" routerLinkActive="active" ariaCurrentWhenActive="page">Retur og reklamasjon</a></p>
        <p><a routerLink="/spørsmål" routerLinkActive="active" ariaCurrentWhenActive="page">Vanlige spørsmål</a></p>
      </div>
      <div class="item3">
        <h4>KUNDETJENESTE</h4>
        <p><a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt oss</a></p>
        <!--<p><a href="mailto:support@ladalt.no">support@ladalt.no</a></p>-->
      </div>

    </div>    

  </div>  

</div>

<div class="copy" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
  <p>&copy; 2023 Ladalt Alle rettigheter reservert.</p>
</div>

<!-- Logo. -->
<ng-template #logo>
  <img src="./assets/img/logo-white.svg" />
</ng-template>