<div class="wrapper"> 

  <ng-container *ngTemplateOutlet="headline"></ng-container>

  <div class="outer-grid">

    <!--<div *ngIf="isMedium || isSmall" class="test">
      <ng-container *ngTemplateOutlet="headline"></ng-container>
      <ng-container *ngTemplateOutlet="image2"></ng-container>
    </div>-->

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <!-- Show this only if not big screen. -->
      <!--<div *ngIf="!isMedium && !isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image"></ng-container>
      </div>-->

      <div class="item2">
        <ng-container *ngTemplateOutlet="image1"></ng-container>
      </div>      

      <div *ngIf="!isMedium && !isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image2"></ng-container>
      </div>

      <div class="item2">
        <h3>Standard ladere</h3>
        <p>En typisk vanlig lader er ikke lagd for å lade mer enn en ting om gangen og du kan oppleve å mangle lading når du trenger det. Det kan også være vanskelig å finne ledig stikkontakt som ikke allerede er i bruk av for eksempel lamper eller tilsvarende.</p>
      </div>

      <div *ngIf="isMedium || isSmall" class="item1">
        <ng-container *ngTemplateOutlet="image2"></ng-container>
      </div>

      <div class="item1">
        <h3>Ladalt avansert smartchip</h3>
        <p>Ladalt har innebygd smartchip-teknologi som muliggjør fire ganger simultan lading, slik at du alltid har lading tilgjengelig og slipper å vente eller måtte dra ut andre støpsel for å frigjøre strømuttak.</p>
      </div>
    
    </div>

  </div>

</div>

<!-- Image. -->
<ng-template #image1>
  <!--<img src="./assets/img/mockup/m10-1.png" />-->
  <img src="./assets/img/IMG_0794.png" />
</ng-template>

<ng-template #image2>
  <img src="./assets/img/IMG_0774.png" />
</ng-template>

<ng-template #headline>
  <h1><strong>Nok lading</strong> forenkler hverdagen din og sparer deg tid</h1>
</ng-template>