<div class="wrapper">

  <h1>Finn <strong>alltid lading</strong> når du mangler strøm</h1>

  <div class="outer-grid">

    <div class="grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

      <div class="item1">

        <ng-container *ngTemplateOutlet="image1"></ng-container>
        <p>Å ikke finne lader skjer ofte fordi du ikke husker hvor du la den fra deg sist. Eller så har noen andre flyttet på den uten å spørre deg først.</p>

      </div>

      <div class="item2">

        <ng-container *ngTemplateOutlet="image2"></ng-container>
        <p>Du finner laderen din, men noen andre bruker den. Med en stor husholdning og mange enheter er det avgjørende å sørge for nok lading til alle.</p>
      
      </div>

      <div class="item3">
        
        <ng-container *ngTemplateOutlet="image3"></ng-container>
        <p>Å lete etter lading gjør deg stresset, irritert og frustrert. Ladalt hjelper deg med å alltid ha masse ledig lading i nærheten.</p>
      
      </div>
    
    </div>

  </div>

</div>

<!-- Images. -->
<ng-template #image1>
  <!--<img src="./assets/img/mockup/m4-1.png" />-->
  <img src="./assets/img/shutterstock/ss5.png" />
</ng-template>

<ng-template #image2>
  <!--<img src="./assets/img/mockup/m4-2.png" />-->
  <img src="./assets/img/shutterstock/ss4.png" />
</ng-template>

<ng-template #image3>
  <!--<img src="./assets/img/mockup/m4-3.png" />-->
  <img src="./assets/img/shutterstock/ss6.png" />
</ng-template>