/* Outer grid */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

.outer-grid.is-medium, .outer-grid.is-small {
  padding: 1em 0.2em;
}

/* Grid. */

.grid {
  display: grid;
  grid-template-columns: auto auto auto;/*0.33fr 0.33fr 0.33fr;*/
  justify-items: center;
  align-items: center;  
}

/* General. */

.item1, .item2, .item3 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  justify-items: center;
  font-size: 1.2em;
}

.item1.is-medium, .item2.is-medium, .item3.is-medium,
.item1.is-small, .item2.is-small, .item3.is-small {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: auto;
  justify-items: center;
  gap: 5px;
}

mat-icon {
  font-size: 2em;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.divText {
  text-align: center;
}