<div class="outer-grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

  <div class="grid">

    <div class="item1" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>spa</mat-icon>
      <div class="divText">Forlenge<br/>levetiden</div>
    </div>

    <div class="item2" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>wb_sunny</mat-icon>
      <div class="divText">Unngå<br/>bakterier</div>
    </div>

    <div class="item3" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>local_cafe</mat-icon>
      <div class="divText">Bevare<br/>smaken</div>
    </div>

  </div>

</div>