<div class="outer-grid" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">

  <div class="grid">

    <div class="item1" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>looks_4</mat-icon>
      <div class="divText">Kvadruppel<br/>ladekapasitet</div>
    </div>

    <div class="item2" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>verified_user</mat-icon>
      <div class="divText">Multippel<br/>beskyttelse</div>
    </div>

    <div class="item3" [ngClass]="{'is-medium': isMedium, 'is-small': isSmall}">
      <mat-icon>flash_on</mat-icon>
      <div class="divText">Parallell<br/>lading</div>
    </div>

  </div>

</div>