<div class="wrapper">

  <div class="outer-grid">

    <h1>Leveringsvilkår</h1>

    <h2>Frakt og behandling</h2>

    <p>Descaler Delight leverer kun til Norge og norske forbrukere og bruker den raskeste tilgjengelige leveringsmetoden fra vårt leveringssenter.</p>

    <p>Vi har standard pris på kr 79,00 for alle våre forsendelser.</p>

    <p>Vi krever inn merverdiavgift i henhold til norsk lovgivning og garanter at du ikke får ekstra utgifter, toll eller andre uforutsette kostnader vedrørende din bestilling.</p>

    <p>Bearbeidingstiden for alle bestillinger er 1-2 virkedager. Vennligst merk at denne tiden kan variere under helligdager eller under produktlanseringer.</p>

    <p>Vi er ikke ansvarlig for leveranser som påvirkes av tolletater, naturhendelser, streik eller forsinkelser i transportnæringen.</p>

    <h2>Sporing</h2>

    <p>Etter at du har mottatt en e-post fra oss med sporingsnummer kan du spore din pakke fra vår <a routerLink="/sporing" routerLinkActive="active" ariaCurrentWhenActive="page">sporingstjeneste</a>.</p>

    <h2>Forvented leveringstid (virkedager)</h2>

    <p>Forvented leveringstid fra vårt leveringssenter er 9-14 dager. I tillegg må det påberegnes 1-2 dager i bearbeidingstid.</p>

  </div>

</div>