<div class="wrapper">

  <div class="outer-grid">

    <h1>Vanlige spørsmål</h1>

    <h2>Ladalt</h2>

    <h3>Hva er Ladalt lagd av?</h3>

    <p>Alle materialene i Ladalt er nøye utvalgt og kun de aller mest holdbare komponentene er benyttet. Hovedkomponentene består av polykarbonat for ekstrem slitestyrke og akrylnitril-butadien-styrene for optimal brannsikkerhet.</p>

    <h3>Er Ladalt trygg å bruke?</h3>

    <p>Med sin innebygde smartchip beskytter Ladalt mot skade under lading. Med multiple vern mot under – og overspenning, overoppheting og kortslutning ivaretas maksimal sikkerhet.</p>

    <h3>Blir Ladalt for varm?</h3>

    <p>Selv med fire porter og lading av opptil fire enheter på en gang vil Ladalt med sin innebygde smartchip og sine multiple vern beskytte mot overoppheting under lading.</p>

    <h3>Vil Ladalt hjelpe meg å ha nok lading?</h3>

    <p>Med sine kvadruple porter får du muligheten til å lade fire ganger så mange enheter simultant som en standard lader med kun en port. Så mange porter gjør at du reduserer behovet for stikkontakter med 75% - der du tidligere ville trengt fire ladere trenger du nå bare en. Ladalt hjelper deg å lade alle dine enheter samtidig som den utnytter dine strømuttakk optimalt uten å måtte ta i bruk ekstra grenuttak.</p>

    <h3>Kan Ladalt brukes når jeg reiser?</h3>
    
    <p>Ladalt er lagd for det mobile liv. Den er enkel å ta med seg og tar liten plass i sekken eller håndvesken.</p>

    <div><br/><hr/><br/></div>

    <h2>Status på din bestilling/levering</h2>

    <h3>Hvor er min Ladalt bestilling?</h3>

    <p>Du kan sjekke din ordrestatus ved å skrive inn sporingsnummeret du mottok for bestillingen din ved å <a routerLink="/sporing" routerLinkActive="active" ariaCurrentWhenActive="page">spore din bestilling</a>.</p>

    <h3>Kan jeg endre adressen min?</h3>

    <p>Så lenge <strong>bestillingen din ikke har forlatt vårt lager</strong>, kan vi fortsatt endre og korrigere leveringsadressen din. Ta kontakt med <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjenesten</a> ved å bruke emnet <strong>"Adresseendring"</strong>. Leveringsadressen din blir deretter justert. Når bestillingen din har forlatt lageret vårt, kan vi ikke lenger endre leveringsadressen.</p>

    <h3>Hvordan kan jeg avbryte bestillingen min?</h3>

    <p>Hvis du ønsker å avbryte bestillingen, kontakt vår <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjeneste</a> så snart som mulig. Hvis bestillingen ikke har nådd fullføringsfasen, er det mulig at vi fremdeles kan endre eller avbryte den.</p>

    <p>Vær imidlertid oppmerksom på at vi ofte ikke klarer å gjøre disse endringene. Dette da vi vanligvis har bestillingen din ferdig pakket og klar for forsending innen 24 timer etter at ordren ble plassert.</p>

    <h3>Kan jeg endre bestillingen min?</h3>

    <p>Så lenge bestillingen din ikke har blitt videreført til logistikkpartnerne våre, kan vi kansellere den og gi deg tilbakebetaling. Vennligst kontakt vår <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjeneste</a> og bruk emnet "Kansellering av bestillingen min" og gi oss ordrenummeret ditt. Etter dette kan du simpelthen bare bestille på nytt og endre på egenhånd.</p>

    <h3>Når vil jeg motta ordren min?</h3>

    <p>Vennligst se våre <a routerLink="/leveringsvilkår" routerLinkActive="active" ariaCurrentWhenActive="page">leveringsvilkår</a>.</p>

    <h3>Hvor kan jeg spore min bestilling?</h3>

    <p>Du kan sjekke din ordrestatus ved å skrive inn sporingsnummeret du mottok for bestillingen din ved å <a routerLink="/sporing" routerLinkActive="active" ariaCurrentWhenActive="page">spore din bestilling</a>.</p>

    <h3>Hvor mye koster frakten?</h3>
    
    <p>Vi har standard pris på kr 79,00 for alle våre forsendelser.</p>

    <h2>Retur og krav</h2>

    <h3>Hvordan kan jeg returnere produktet mitt fra Ladalt</h3>

    <p>Innen 30 dager fra leveringsdatoen for bestillingen din (bestemmes av sporingsnummeret) kan enhver kunde som ikke er fornøyd returnere produktet for refusjon eller erstatning. Kontakt vår <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjeneste</a> og forklar at du vil returnere produktet, slik at de kan sende deg ytterligere instruksjoner. Du kan også lese mer om våre retningslinjer for retur <a routerLink="/retur" routerLinkActive="active" ariaCurrentWhenActive="page">her</a>.</p>

    <h2>Hvor lang tid tar det å behandle min refusjon?</h2>

    <p>Vi vil tilbakebetale for det returnerte produktet innen 14 dager etter vi har mottatt produktet på vår returadresse. Vær imidlertid oppmerksom på at vi kun aksepterer det returnerte produktet hvis det ikke ble brukt, ikke har blitt skadet og har blitt sendt tilbake til oss i originalemballasjen. Det kan ta opptil fem dager før du får din refusjon overført til bankkonto etter at den har blitt sendt av oss.</p>

    <div><br/><hr/><br/></div>

    <p>Om du ikke finner svaret på dine spørsmål ovenfor vennligst kontakt vår <a routerLink="/kontakt" routerLinkActive="active" ariaCurrentWhenActive="page">kundetjeneste</a>.</p>

  </div>

</div>