.wrapper {
  padding: 1em 2em 3em;
  background-color: white;
  /*background-color: rgb(195, 195, 195);*/
  color: black;
}

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 950px); /* 100% up to max (use min=0, not 100%). */
  justify-content: center;  
  /*background-color: rgb(195, 195, 195);
  background-color: black;
  color: white;*/
}

table, th, td {
  border: 1px solid;
}

.tableGrid2 {
  display: grid;
  grid-template-columns: 0.3fr auto;
  /*border-top: 1px solid black;
  border-left: 1px solid black;*/
  /*border-right: 1px solid black;*/
  /*background-color: rgb(195, 195, 195);*/
  /*padding: 20px;*/
  /*gap: 10px;*/  
}

.item1 {
  font-weight: 800;  
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  word-wrap: break-word;
}

.item2 {
  /*border-top: 1px solid black;*/
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  word-wrap: break-word;
}

.item1fix {
  border-top: 1px solid black;
}

.item2fix {
  border-bottom: 1px solid black;
}